version: 2
jobs:
  deploy:
    docker:
      - image: circleci/php:7.1-node-browsers
    steps:
      - checkout
 
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "composer.json" }}
            - v1-dependencies-

      - run: sudo composer install -n --prefer-dist
 
      - save_cache:
          key: v1-dependencies-{{ checksum "composer.json" }}
          paths:
            - ./vendor
      - restore_cache:
          keys:
            - node-v1-{{ checksum "package.json" }}
            - node-v1-
      - save_cache:
          key: node-v1-{{ checksum "package.json" }}
          paths:
            - node_modules
 
      - run: sudo php artisan key:generate
 
      - run: ./vendor/bin/phpunit tests/
 
      - add_ssh_keys:
          fingerprints:
            - "f4:f3:2e:13:50:85:47:e8:fb:5e:5e:48:be:c0:b4:e3"
      - run: sshã€€-p $SSH_PORT $SSH_USER@$SSH_HOST "~/deploy.sh"     
 
workflows:
  version: 2
  test:
    jobs:
      - deploy
          filters:
            branches:
              only: 
                -master  